body{
    background-color: #d2cdcd;
}
header {
  text-align: center;
  padding: 10px;
}

nav {
  text-align: center;
  background-color: #adacac;
  padding: 15px;
}

nav a {
  margin: 50px;
  text-decoration: none;
  color: #0a0a0a;
}

main {
  padding: 20px;
}
